/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  padding: 2rem;
  background-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  box-sizing: border-box;
}
